* {
  padding: 0;
  margin: 0;
  font-family: none;
}
body {
  background-color: rgba(201, 208, 209, 0.5);
}

/* menu start  */
.menu {
  background-color: rgb(20, 20, 18);
  height: 110px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.menu-left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-right {
  width: 55%;
}
.menu-right nav {
  width: 100%;
}
.menu-right nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  list-style: none;
}
.menu-right nav ul li {
  width: 100px;
  height: 25px;
  clear: both;
}
.menu-right nav ul li a {
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: ;
  font-size: 30px;
  font-family: "Pirata One", cursive;
  text-decoration: none;
}

.menu-right nav ul li a.active {
  color: rgb(192, 98, 31);
  background-color: rgb(184, 125, 14, 0.3);

  border-radius: 25px;
}

.menu-right nav ul li a:hover:not(.active) {
  color: rgb(192, 98, 31);
  background-color: rgb(184, 125, 14, 0.3);
  border-radius: 25px;
}

/* menu end  */

/* first section start  */
.section {
  background-color: rgb(61, 54, 48);
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 80px;
}

.section .light {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  width: 85%;
  margin-left: 80px;
}
.table-set {
  height: 400px;
}
.table-set img {
  margin-left: 5%;
}
.section .welcome {
  height: 350px;
}
.welcome h3 {
  font-family: "Pacifico", cursive;
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
  padding-left: 5px;
}
#p1 {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: rgba(58, 28, 7, 0.5);
  text-shadow: 2px 2px rgb(226, 127, 57);
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  padding-top: 8px;
}
#p2 {
  text-align: center;
  color: rgb(151, 146, 146);
  padding-top: 10px;
}
.welcome a {
  color: rgb(192, 98, 31);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 45%;
  top: 20px;
  height: 40px;
  width: 170px;
  text-align: center;
  border: 1px solid rgb(150, 132, 119);
  border-radius: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: -1px;
  background-image: linear-gradient(
    rgb(56, 28, 8),
    rgb(83, 36, 3),
    rgb(24, 12, 3, 0.5)
  );
  outline: 2px solid rgb(58, 26, 4);
}

/* first section end  */

/* second section start  */
.sub-section {
  background-color: rgb(165, 172, 173, 0.5);
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-section .sub-section-first p {
  color: black;
}
.sub-section div {
  margin-top: 100px;
}
.sub-section-first {
  width: 50%;
  height: 200px;
  padding: 20px 25px;
}
.sub-section-first h3,
p,
h1,
a {
  padding-top: 10px;
}
.sub-section .sub-section-two {
  width: 28%;
  height: 200px;
  margin-bottom: 50px;
}
.sub-section .sub-section-two img {
  box-shadow: 0px 15px 15px 2px rgb(83, 81, 81);
  float: right;
}

.sub-section .sub-section-first a {
  color: rgb(192, 98, 31);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 170px;
  text-align: center;
  border: 1px solid rgb(150, 132, 119);
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: -1px;
  background-image: linear-gradient(
    rgb(56, 28, 8),
    rgb(83, 36, 3),
    rgb(24, 12, 3, 0.5)
  );
}
/* second section end  */

/* item section start  */
.popular-item {
  height: 550px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 130px;
}
.popular-item p {
  color: black;
}
.popular-item-top {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-item .popular-item-top .popular-item-caption {
  width: 18%;
  height: 30px;
}
.popular-item .popular-item-top .item-line {
  width: 70%;
  height: 40px;
  border-bottom: 0.5px solid rgb(185, 117, 27);
  margin-bottom: 15px;
  margin-left: 20px;
}

.popular-item .popular-item-below {
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.popular-item .popular-item-below .item-one {
  height: 450px;
  width: 25%;
  background-color: rgb(255, 254, 251);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item-one h3 {
  margin-top: 40px;
  text-align: center;
  color: darkgray;
  font-family: "Lobster", cursive;
}
.item-one > span {
  margin: 15px 30px;
}
.item-one span hr {
  color: darkgray;
}
.item-one p {
  padding: 10px 60px;
}

.item-one div {
  background-color: rgb(61, 54, 48, 0.9);

  height: 120px;
  width: 90px;
  margin-top: 30px;
  margin-left: 95px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.item-one a {
  color: rgb(151, 163, 163);
  text-align: center;
  font-size: 25px;
  font-family: "Lobster", cursive;
  text-decoration: none;
  border: 2px solid rgb(194, 187, 187);
  display: inline-block;
  height: 70px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 10px 10px;
}

/* populat item end  */

/* today special caption start
 */

.today-special-caption {
  margin-top: 80px;
  margin-left: 195px;
  height: 60px;
  width: 70%;
}
.today-special-caption h2 {
}
.today-special-caption hr {
  width: 80%;
  margin-left: 180px;
  margin-bottom: 50px;
  position: relative;
  bottom: 10px;
  border-top: 1px solid rgb(214, 127, 95);
}
.today-special-caption h2 {
  color: rgb(170, 108, 26);
  font-style: italic;
  font-family: "Lobster", cursive;
}

/* today special end  */

/* today sepcial item start  */

.today-special-item {
  height: 390px;
  width: 72%;
  margin-top: 70px;
  margin-left: 185px;
}

/* left part  */
.today-special-item-left {
  height: 375px;
  width: 55%;
  float: left;
  background-image: url(img/special-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 8px solid white;
  border-bottom: 10px solid white;
}
.today-special-item-left-des {
  height: 80px;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.8);
  position: absolute;
  bottom: 0px;
}
.today-special-item-left .today-special-item-left-des h2,
p {
  padding: 5px 10px;
  color: aliceblue;
}

.today-special-item-right {
  float: right;
  width: 38%;
  height: 350px;
  margin-right: 20px;
}
/* today sepcial item  left part end  */

/* today special item right start  */
.today-special-item-right .today-special-item-right-first {
  width: 100%;
  height: 200px;
  background-image: url(img/special-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 8px solid white;
  border-bottom: 10px solid white;
}
.today-special-item-right
  .today-special-item-right-first
  .today-special-item-right-first-des {
  position: absolute;
  bottom: 0px;
  height: 90px;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.8);
}
.today-special-item-right
  .today-special-item-right-first
  .today-special-item-right-first-des
  h2,
p {
  color: white;
  padding: 5px 12px;
}

.today-special-item-right .today-special-item-right-second {
  width: 45%;
  height: 150px;
  background-image: url(img/special-3.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  float: left;
  position: relative;
  top: 10px;
  border: 6px solid white;
  border-bottom: 10px solid white;
}
.today-special-item-right
  .today-special-item-right-second
  .today-special-item-right-second-des {
  position: absolute;
  bottom: 0px;
  background-color: rgba(5, 5, 5, 0.8);
  height: 42px;
  width: 100%;
}

.today-special-item-right .today-special-item-right-third {
  float: right;
  width: 45%;
  height: 150px;
  background-image: url(img/special-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 10px;
  left: 14px;
  border: 8px solid white;
  border-bottom: 10px solid white;
}
.today-special-item-right
  .today-special-item-right-third
  .today-special-item-right-third-des {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 42px;
  background-color: rgba(5, 5, 5, 0.8);
}
/* today special right end 
 */
/* today special portion end 
  */

/* menu description start  */
.daily-menu {
  margin-top: 60px;
  margin-left: 185px;
  width: 72%;
  height: 350px;
}
.daily-menu-img {
  width: 25%;
  height: 320px;
  float: left;
  margin-top: 10px;
}
.daily-menu-des {
  float: right;
  height: 300px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.daily-menu-des p {
  color: black;
}
.daily-menu-des ol {
  margin-left: 50px;
}

.daily-menu-des div {
  height: 45px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(77, 40, 13);
}
.daily-menu-des div a {
  border: 1px solid rgb(209, 160, 95);
  border-radius: 12px;
  text-decoration: none;
  color: rgb(172, 113, 37);
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 92%;
  padding-bottom: 10px;
  margin: 10px;
  font-family: monospace;
}
.daily-menu-des div a:hover {
  color: whitesmoke;
}

/* menu portio end  */

/* footer start  */
.footer {
  height: 360px;
  width: 100%;
  background-color: rgb(54, 52, 50);
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-first {
  height: 280px;
  width: 15%;
  margin-left: 72px;
}
.footer-first h2 {
  font-size: 25px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-first a {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  padding-top: 20px;
}
.footer-first a:hover {
  color: rgb(151, 72, 16);
}
.footer-second {
  width: 35%;
  height: 280px;
}
.footer-third {
  width: 24%;
  height: 280px;
}
.footer-third h2 {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-third div {
  margin-top: 15px;
}
.footer-third .fa {
  color: whitesmoke;
  height: 30px;
  width: 40px;
  background-color: rgb(136, 132, 132);
  margin-left: 5px;
  padding-top: 5px;
}
.footer-third a {
  text-align: center;
}
.footer-third .fa:hover {
  background-color: rgb(202, 124, 45);
}

/* footer end  */

/* copyright start 
 */

.copyright {
  margin-top: 30px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.copyright p {
  color: black;
  font-size: 12px;
  font-family: monospace;
}
/* footer end  */

/* INDEX PAGE END  */

/* CONTACT PAGE START  */
.contact-portion {
  height: 400px;
  width: 70%;
  border: 3px solid rgb(20, 19, 19, 0.2);
  margin-top: 400px;
  margin-left: 80px;
  background-color: rgba(177, 169, 169, 0.3);
  margin-bottom: 20px;
}
.contact-portion h3 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.contact-portion form input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  width: 60%;
  height: 45px;
  outline: none;
  border-radius: 15px;
  border: 1px solid rgb(189, 110, 53);
}
.contact-portion form textarea {
  margin-top: 20px;
  border: 1px solid rgb(189, 110, 53);
  outline: none;
  margin-left: 20px;
}
.contact-portion .btn {
  height: 40px;
  width: 150px;
  border: 1px solid green;
  margin-left: 30px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: rgb(29, 14, 3);
}
.contact-portion button {
  height: 30px;
  background-color: transparent;
  width: 95%;
  border: 1px solid rgb(170, 93, 39);
  margin: 5px;
  border-radius: 10px;
  color: rgb(218, 137, 79);
}
.contact-portion button:hover,
.btn:hover {
  cursor: pointer;
  color: whitesmoke;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid rgba(81, 203, 238, 1);
}
/* ___________________________________________________________CONTATCT PAGE END____________________________________________________  */

/* ___________________________________________________________________TODAY SPECIAL START___________________________________ */

/* popular item second one in today special portion start */
.popular-item-two {
  margin-top: 30px;
}

/*______________________ TODAY SPECIAL END CUX IT HAD HEADER AND FOOTER AND ONE EXTREA MENU FURTHER COPIED PORTION FROM INDEX PAFE _________________________________ */

/* popular item second one in today special portion end */

/* ________________________________MENU PAGE START _____________________________________ */

/* menu caption  start  */
.menu-caption {
  height: 50px;
  width: 75%;
  margin-top: 100px;
  margin-left: 150px;
}
.menu-caption h3 {
  color: rgb(138, 72, 24);
  font-family: "Lobster", cursive;
  font-size: 28px;
  font-style: italic;
}
.menu-caption hr {
  border-top: 1px solid rgb(194, 108, 46);
  width: 80%;
  margin-left: 170px;
  margin-top: -12px;
}
/* caption end  */

/* menu list start  */
.menu-list {
  height: 1200px;
  width: 78%;
  margin-top: 30px;
  margin-left: 125px;
}

.menu-list .menu-list-item {
  height: 400px;
  width: 26%;
  float: left;
  border-radius: 10px;

  background-color: rgb(49, 25, 7);
  position: relative;
}
.menu-list .menu-list-item ul {
  height: 375px;
  width: 85%;
  border: 1px solid rgb(196, 121, 67);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 10px;
  left: 15px;

  list-style: none;
  border-radius: 15px;
}
.menu-list .menu-list-item ul li {
  width: 90%;
  height: 30px;
  border-bottom: 1px solid rgb(157, 94, 48);
  text-align: center;
}
.menu-list .menu-list-item ul li a {
  text-decoration: none;
  color: rgb(84, 64, 49);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.menu-list .menu-list-item ul li:hover a {
  color: rgb(137, 111, 93);
}

.menu-list .menu-list-des {
  height: 1200px;
  width: 65%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-list .menu-list-des .menu-list-des-right {
  height: 170px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.menu-list .menu-list-des .menu-list-des-right .list-img {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}
.menu-list .menu-list-des .menu-list-des-right .list-des {
  width: 45%;

  padding-top: 15px;
  flex-grow: 2;
}
.menu-list .menu-list-des .menu-list-des-right .list-des h3,
p {
  color: black;
}

.menu-list .menu-list-des .menu-list-des-right .price {
  width: 15%;
  height: 90px;
  margin: 25px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgb(74, 44, 18, 0.9);
}
.menu-list .menu-list-des .menu-list-des-right .price a {
  color: grey;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px;
  height: 70px;
  width: 80px;
  border: 2px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ___________________-MENU PAGE END _______________________________ */
